obj/
build/
*.elf
*.a
*.o
.DS_Store

# Coreutils & auth binaries
/audioplay
/beep
/cat
/chmod
/chown
/clear
/cowsay
/crash
/date
/df
/doas
/du
/echo
/fbtest
/fdisk
/find
/getty
/grep
/head
/help
/hexdump
/id
/kill
/loadkeys
/login
/lsblk
/math
/meminfo
/mixer
/mkfs_ext4
/mkfs_fat
/mount
/passwd
/pci_list
/pidbench
/ps
/pwd
/reboot
/rescan
/rev
/service
/shutdown
/su
/sync
/sysfetch
/tail
/tar
/touch
/tty
/umount
/uname
/uptime
/useradd
/userdel
/usermod
/vterm
/whoami
/yawn
